# Node.js dependencies
node_modules/

# Application Logs
logs/
*.log

# Application Results
results.json

# Environment variables
.env*

# Optional diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Optional runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional REPL history
.node_repl_history

# macOS specific
.DS_Store

# VSCode specific
.vscode/

# IntelliJ specific
.idea/

# Configuration file (contains secrets)
config.json